body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("background.jpg");    /* img source https://www.freepik.com/ */
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
}

  .container-fluid {
    padding: 0 !important;
}



 
